ul {
    position: relative;
    list-style: none;
    background-color: yellow;
    padding: 0;
    /*height: 30px;*/
    line-height: 200%;
}
.menu {
    width: 415px;
    /*padding: 5px 0px;*/
    
}

ul>li.item {
    padding: 0;
    width: 100px;
    margin: 0;
    display: inline-table;
    width: 100px;
    text-align: center;
    border-right: 1px gray solid;
}
.menu >li:last-child {
  border-width: 0;  
}

.sub-menu {
    display: none;
    position: absolute;
    top: 32px;
}

.sub-menu>.sub-item {
    width: 100px;
}

.item:hover .sub-menu{
    display: block;
}

.sub-menu>li {
    border-bottom: 1px gray solid;
    border-left: 1px gray solid;
    border-right: 1px gray solid;
    position: relative;
}

.sub-sub-menu {
    position: absolute;
    left: 100px;
    width: 100px;
    top: 0;
    display: none;
}

.sub-sub-menu > li {
    border-bottom: 1px gray solid;
}

.sub-item:hover .sub-sub-menu{
    display: block;
}

