body {
    background: gray;
    font-family: 'arial';
}
.box {
    width: 300px;
    height: 200px;
    border-radius: 5px;
    background-color: gray;
    position: relative;
    overflow: hidden;
    /*background-image: url('../images/movie.jpg');*/
    /*background-size: cover;*/
}

#images {
    width: 100%;
}

.header {
    height: 30px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background: white;
    line-height: 200%;
    padding-left: 10px;
}

.footer {
    background: black;
    color: white;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
    height: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0.7;
    padding-left: 10px;
}

.image-box {
    height: 175px;
    overflow: hidden;
}